#box-images {
  widows: 100px;
  height: 100px;
}

.navbar-brand {
  text-align: center;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

#padding {
  padding: ($spacer * .5) !important;
}
